{% extends "base.html" %}

{% block content %}
  {% include "header.html" %}

  {% if current_user.is_authenticated %}
    <main></main>
  {% else %}
    <main style="max-width: 650px;">
      <h1>Real-Time Chat Application</h1>
      <p>Welcome to real-time chat application! This application uses Flask-SocketIO to handle the WebSockets, allowing for real-time messaging between users. SQLite is used as the database to store user information and chat history.</p>
      <p>Sign up or login to start chatting!</p>
    </main>
  {% endif %}

  {% include "footer.html" %}
{% endblock %}
