{% extends "base.html" %}

{% block title %}Log in &lt; {{ super() }}{% endblock %}

{% block content %}
  {% include "header.html" %}

  <main>
    {% if login_form.username.errors %}
      {% for error in login_form.username.errors %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% include "flashed_messages.html" %}
    <form action="{{ request.path }}" method="post">
      {{ login_form.hidden_tag() }}
      {{ login_form.username.label }} {{ login_form.username() }}
      {{ login_form.password.label }} {{ login_form.password() }}
      {{ login_form.submit() }}
    </form>
  </main>

  {% include "footer.html" %}
{% endblock %}
