{% extends "base.html" %}

{% block content %}
  {% include "header.html" %}

  <main>
    {% if signup_form.username.errors %}
      {% for error in signup_form.username.errors %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% include "flashed_messages.html" %}
    <form action="{{ request.path }}" method="post">
      {{ signup_form.hidden_tag() }}
      {{ signup_form.username.label }} {{ signup_form.username() }}
      {{ signup_form.password.label }} {{ signup_form.password() }}
      {{ signup_form.confirm.label }} {{ signup_form.confirm() }}
      {{ signup_form.submit() }}
    </form>
  </main>

  {% include "footer.html" %}
{% endblock %}
